curl -v --request GET \
     --url 'https://api.yelp.com/v3/businesses/search?sort_by=best_match&latitude=40.735556&longitude=-73.990556&limit=20' \
     --header 'Authorization: Bearer mOihZoW12gSWnXOw8WywDS2wjDCoCHM-iqHvOYqfc0dj7tgrBLlOd21x25cA9m5kFLshPqblqWGSdB7Cnyer9xOXUsotq9vUpNoMqWQd85KuTzINtQGfOTE0g8qdZXYx' \
     --header 'accept: application/json'

